# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next
/out

# Production build files
/build

# Static files
/public

# ESLint cache
.eslintcache

# Temporary files
*.swp

# IDE-specific files
.idea
.vscode

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
.firebase
firebase.json

# Vercel
.vercel
